<ul class="nav nav-pills flex-column">
    <li class="nav-item "><a class="nav-link" asp-controller="AdminPaneli" asp-action="RandevuIndex">Randevular</a></li>
    <li class="nav-item"><a class="nav-link"  asp-controller="AdminPaneli" asp-action="MerkezIndex">Güzellik Merkezleri</a></li>
</ul>
