@model GuzelRandevu.Models.Randevu

@{
    ViewData["Title"] = "Randevu Düzenle";
}

<h1>Randevu Düzenle</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="uyeId" />
            <input type="hidden" asp-for="merkezId" />
            <div class="form-group">
                <label class="control-label"> Değerlendirme </label>
                <textarea asp-for="randevuDegerlendirmesi" class="form-control" disabled></textarea>
                <span asp-validation-for="randevuDegerlendirmesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Puan </label>
                <input asp-for="randevuPuani" class="form-control" disabled/>
                <span asp-validation-for="randevuPuani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randevuSaati" class="control-label"></label>
                <input asp-for="randevuSaati" class="form-control" />
                <span asp-validation-for="randevuSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RandevuIndex">Randevu Listesine Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
