@{
    ViewData["Title"] = "Güzel Randevu";
}

<div class="text-center">
    <h1 class="display-4">Güzel Randevuya Hoşgeldiniz</h1>
    <p>İstediğiniz Güzellik Merkezleri'nden kolaylıkla randevunuzu oluşturmanız için sizinleyiz!</p>
</div>
