@{
    ViewData["Title"] = "Güzel Randevu";
}

<div class="text-center">
    <h1 class="display-4">Güzel Randevuya Hoşgeldiniz!</h1>
    <p>Sizin için en iyi Güzellik Merkezlerinin toplandığı bu web sitesinde istediğinizden kolaylıkla randevu alabilirsiniz!</p>
</div>
