@model GuzelRandevu.Models.Randevu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="musteriNoId" class="control-label"></label>
                <input asp-for="musteriNoId" class="form-control" />
                <span asp-validation-for="musteriNoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="merkezNoId" class="control-label"></label>
                <input asp-for="merkezNoId" class="form-control" />
                <span asp-validation-for="merkezNoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randevuGunu" class="control-label"></label>
                <input asp-for="randevuGunu" class="form-control" />
                <span asp-validation-for="randevuGunu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randevuSaati" class="control-label"></label>
                <input asp-for="randevuSaati" class="form-control" />
                <span asp-validation-for="randevuSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randevuPuani" class="control-label"></label>
                <input asp-for="randevuPuani" class="form-control" />
                <span asp-validation-for="randevuPuani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
